language: node_js
node_js:
  - "10"
cache:
  directories:
  - node_modules
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: public
  keep-history: true
  target-branch: master
  on:
    branch: develop
before_script:
  - "npm i -g gatsby"
  - "npm i"
after_success:
  - "npm run deploy"
