// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-800;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  color: $gray-800;
}

.h1,
h1 {
  font-size: 1.8rem;
}
h1,
h2 {
  color: $primary;
}
h3,
h4 {
  color: $secondary;
}
.avatar {
  width: 14em;
  padding-top: 1.5em;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.2rem;
    width: 3.2rem;
    background-color: $secondary;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin: 1rem 0.25rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;

  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.subheading {
  padding: 0 10px;
  li {
    list-style: none;
  }
}

.text-primary,
.fa,
.position {
  color: $secondary !important;
}
section {
  border-bottom: 1px dashed $secondary;
}
.projects {
  a {
    float: left;
  }
  p {
    margin: 5px 0 0 0;
  }
}
.technologies {
  li {
    display: inline-block;
    padding: 0 5px;
  }
}

.resume-content {
  flex: 1 1 auto;
}
