// Global styling for this template

body {
    @include body-font;
    padding-top: 54px;
    color: $gray-600;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-800;
}

.h1,
h1 {
    font-size: 1.6rem;
}

.social-icons {
    a {
        display: inline-block;
        height: 3.2rem;
        width: 3.2rem;
        background-color: $gray-700;
        color: $white !important;
        border-radius: 100%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 3.5rem;
        margin: 1rem .25rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $primary;
        }
    }
}

.dev-icons {
    font-size: 3rem;

    .list-inline-item i {
        &:hover {
            color: $primary;
        }
    }
}

#about .fa {
    color: $gray-700;
}