section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  .resume-item {
    .resume-date {
      min-width: none;
    }
  }
}

.position {
  font-size: 1.5em;
  font-weight: bolder;
  color: $primary;
}

.text-primary,
.fa {
  color: $secondary !important;
}
