section.resume-section {
    width: 700px !important;
}
@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
        .resume-item {
            .resume-date {
                min-width: 18rem;
            }
        }
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        min-width: 1200px !important;
    }
    h1 {
        font-size: 4rem;
        line-height: 5.5rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2rem;
    }

    p.lead {
        font-size: 1.15rem;
        font-weight: 400;
    }

    .subheading {
        font-weight: 500;
        @include heading-font;
        font-size: 1.2rem;
    }
}